<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - WebAppMvc Controller</title>
</head>
<body>
    <header>
        Cabrçalho da Página
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        Rodapé da Página
    </footer>
</body>
</html>
