@using WebAppInjecaoDependencia.Data;
@inject IPedidoRepository PedidoRepository;
@model PedidoModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@Model.Id / Model</h2>
    <h2>@PedidoRepository.ObterPedido().Id / DI</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
